name: Build and Push React Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "Punya@123" | docker login -u "Punyasc" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t react-app:latest .

      - name: Tag Docker image
        run: |
          # Correct format: USERNAME/IMAGE:TAG
          docker tag react-app:latest Punyasc/react-app:latest

      - name: Push Docker image
        run: |
          docker push Punyasc/react-app:latest

