name: Deploy React to Azure

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name zenpocacr

      - name: Build & Push Image
        run: |
          docker build -t zenpocacr.azurecr.io/react-app:${{ github.sha }} .
          docker push zenpocacr.azurecr.io/react-app:${{ github.sha }}